In [39]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


data = pd.read_csv("lieux-2019.csv", delimiter=";")
data

,Num_Acc,catr,voie,v1,v2,circ,nbv,vosp,prof,pr,pr1,plan,lartpc,larrout,surf,infra,situ,vma
0,201900000001,1,3,0.0,NaN,3,10,0,1,6,900,2,NaN,NaN,1,2,1,70
1,201900000002,1,1,0.0,NaN,1,2,0,4,3,845,2,NaN,NaN,1,0,1,70
2,201900000003,1,86,0.0,NaN,3,8,0,1,10,500,3,NaN,NaN,1,0,1,90
3,201900000004,1,4,0.0,NaN,3,5,0,1,2,299,1,NaN,NaN,1,0,1,90
4,201900000005,1,86,0.0,INT,1,3,0,1,41,0,3,NaN,NaN,1,2,1,90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58835,201900058836,1,43,0.0,NaN,1,3,0,1,15,500,1,NaN,NaN,2,3,1,130
58836,201900058837,1,35,0.0,NaN,1,2,0,1,303,282,1,NaN,NaN,2,0,1,90
58837,201900058838,1,6,0.0,A,3,3,0,1,5,199,1,NaN,NaN,1,0,1,90
58838,201900058839,1,86,0.0,NaN,1,1,0,1,59,99,3,NaN,NaN,1,0,1,50
58839,201900058840,1,13,0.0,NaN,1,3,0,1,6,699,1,NaN,NaN,1,0,2,110

In [40]:
data.isnull().sum()

Num_Acc        0
catr           0
voie        2935
v1         10746
v2         54673
circ           0
nbv            0
vosp           0
prof           0
pr             0
pr1            0
plan           0
lartpc     58629
larrout    58468
surf           0
infra          0
situ           0
vma            0
dtype: int64

In [41]:
data.isna().sum()

Num_Acc        0
catr           0
voie        2935
v1         10746
v2         54673
circ           0
nbv            0
vosp           0
prof           0
pr             0
pr1            0
plan           0
lartpc     58629
larrout    58468
surf           0
infra          0
situ           0
vma            0
dtype: int64

In [42]:
data["catr"].value_counts()

4    25771
3    20963
1     5823
2     3866
7     1298
9      590
6      442
5       87
Name: catr, dtype: int64

In [43]:
data["catr"].replace(9, np.nan, inplace=True)
data["catr"].value_counts()

4.0    25771
3.0    20963
1.0     5823
2.0     3866
7.0     1298
6.0      442
5.0       87
Name: catr, dtype: int64

In [44]:
data.isna().sum()

Num_Acc        0
catr         590
voie        2935
v1         10746
v2         54673
circ           0
nbv            0
vosp           0
prof           0
pr             0
pr1            0
plan           0
lartpc     58629
larrout    58468
surf           0
infra          0
situ           0
vma            0
dtype: int64

In [45]:
data["circ"].value_counts()

 2    36367
 1    10381
 3     8577
-1     3154
 4      361
Name: circ, dtype: int64

In [46]:
data["circ"].replace(-1, np.nan, inplace=True)
data["circ"].value_counts()

2.0    36367
1.0    10381
3.0     8577
4.0      361
Name: circ, dtype: int64

In [47]:
data["vosp"].value_counts()

 0    53719
 1     1915
 3     1685
 2      852
-1      669
Name: vosp, dtype: int64

In [48]:
data["vosp"].replace(-1, np.nan, inplace=True)
data["vosp"].value_counts()

0.0    53719
1.0     1915
3.0     1685
2.0      852
Name: vosp, dtype: int64

In [49]:
data["prof"].value_counts()

 1    47299
 2     9611
 3     1000
 4      916
-1       14
Name: prof, dtype: int64

In [50]:
data["prof"].replace(-1, np.nan, inplace=True)
data["prof"].value_counts()

1.0    47299
2.0     9611
3.0     1000
4.0      916
Name: prof, dtype: int64

In [51]:
data["pr"].value_counts()

0      27114
(1)     7297
1       3508
2       1129
3        935
       ...
373        1
425        1
470        1
424        1
574        1
Name: pr, Length: 489, dtype: int64

In [64]:
data["larrout"].value_counts()

7.00      38
14.00     16
6.00      12
70.00     12
65.00     11
          ..
3.40       1
6.60       1
120.00     1
4.45       1
730.00     1
Name: larrout, Length: 110, dtype: int64

In [65]:
data["vma"].value_counts()

 50     33306
 80      9027
 70      4097
 30      4013
 90      3436
 110     2151
 130     1166
-1        881
 60       237
 20       156
 10       118
 40        54
 15        38
 5         32
 45        27
 2         20
 1         16
 500       15
 25        11
 100        9
 6          8
 35         6
 3          3
 65         2
 4          2
 700        1
 600        1
 0          1
 120        1
 560        1
 800        1
 42         1
 7          1
 12         1
Name: vma, dtype: int64

In [66]:
data["vma"].replace(-1, np.nan, inplace=True)
data["vma"].value_counts()

50.0     33306
80.0      9027
70.0      4097
30.0      4013
90.0      3436
110.0     2151
130.0     1166
60.0       237
20.0       156
10.0       118
40.0        54
15.0        38
5.0         32
45.0        27
2.0         20
1.0         16
500.0       15
25.0        11
100.0        9
6.0          8
35.0         6
3.0          3
65.0         2
4.0          2
700.0        1
600.0        1
120.0        1
560.0        1
800.0        1
42.0         1
12.0         1
7.0          1
0.0          1
Name: vma, dtype: int64

In [53]:
data["prof"].replace(-1, np.nan, inplace=True)
data["prof"].value_counts()

1.0    47299
2.0     9611
3.0     1000
4.0      916
Name: prof, dtype: int64

In [54]:
data["surf"].value_counts()

 1    46951
 2    10958
 9      326
 7      197
 3      115
 8      113
 5      104
 6       37
-1       21
 4       18
Name: surf, dtype: int64

In [55]:
data["surf"].replace([-1,9], np.nan, inplace=True)
data["surf"].value_counts()

1.0    46951
2.0    10958
7.0      197
3.0      115
8.0      113
5.0      104
6.0       37
4.0       18
Name: surf, dtype: int64

In [56]:
data["infra"].value_counts()

 0    49041
 5     3309
 9     2324
 2     1152
 3      872
 1      734
 6      572
 8      508
 4      243
-1       45
 7       40
Name: infra, dtype: int64

In [57]:
data["infra"].replace([-1,9], np.nan, inplace=True)
data["infra"].value_counts()

0.0    49041
5.0     3309
2.0     1152
3.0      872
1.0      734
6.0      572
8.0      508
4.0      243
7.0       40
Name: infra, dtype: int64

In [58]:
data["situ"].value_counts()

 1    50674
 3     4286
 8     1154
 2      955
 4      690
 5      522
 6      443
-1      116
Name: situ, dtype: int64

In [59]:
data["situ"].replace([-1,8], np.nan, inplace=True)
data["situ"].value_counts()

1.0    50674
3.0     4286
2.0      955
4.0      690
5.0      522
6.0      443
Name: situ, dtype: int64

In [61]:
data["v2"].value_counts()

D      1859
A       918
B       234
N       225
E       217
INT     116
EXT     110
C       109
R        62
 -       58
Y        41
M        31
T        26
W        26
S        22
F        20
G        13
P        12
V        10
b         9
I         8
Z         7
H         6
O         6
X         5
L         4
K         3
U         2
IV        2
CD        1
II        1
15        1
A1        1
 D        1
1A        1
Name: v2, dtype: int64